# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# For specific URL
Redirect /wp-admin http://www.example.com/custom
# Redirect 301 the entire site 
Redirect 301 / https://www.soumissionsmaison.com/solariums/ 

# END WordPress